*{
  margin:0;
  padding:0;
  box-sizing:border-box;
 font-family: segoe UI, Arial;
}

h1{font-family: Segoe UI, arial;
text-align:center;
  font-size:25px;
  font-weight: bold;
  color: white;
}


nav{
  position:fixed;
  top:0;
  background:orange;
  width:100%;
}

ul{
  justify-content:center;
  list-style:none;
  gap:20px;
  display:flex;
}

table{
  margin:18px auto;
  border:10px  black;
  border-collapse:collapse;
  width:50%;
 
}

table th{
  background-color:orange;
  color:white;
  
}

th,td{border:2px solid black;}


#ourmenu{
  margin-top:60px;

  
}
#contactform{margin-top:60px;
}

.table img{
  width:100px;
  heigh:100px;
  object-fit:cover;
  
}

h2{font-family: Times new roman, arial;
  font-size:35px;
  color:red;
  text-align:center;
}

h3{font-family: Times new roman, arial;
  font-size:35px;
  color:red;
  text-align:center;
}


#logo {width:30%;}
