h1 {font-family: Times New Roman;
text-align: center;
font-size: 25px;
font- weight: bold;
color: brown;
letter-spacing: 3px;
border:2px solid black;
line-height: 48px;
background-color: beige;
}

ul {disply: flex;
justify-content: center;
gap: 50px;
}

a {color: brown;
font-family: Times New Roman, Arial;
font-size: 15px;
letter-spacing: 2px;
text-decoration: underline;
font-weight: bold;
}

#table1 {border: 2px brown;
color: brown;
background-color: beige;
border-collapse: collapse;
height: 100px;
width: 50px;
text-align: center;
margin: 30px;
padding: 6px;
}

h2 {font-family: Times New Roman, Arial;
font-size: 18px;
color: brown;
text-align: center;
}

#media {
  width: 350px;
  height: 400px;
  margin: 20px;
  padding: 20px;
}

#banner {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
