*{
  margin:0;
  padding:0;
    box-sizing:border-box;
  font-family:Times New Romans, Arial;

}

body{
  background:white;
  color:black;
  padding-top:65px;
    text-align:center;
}

nav{
  posotion:fixed;
  top:0;
  background:orange;
  width:100%; 
}

nav ul{
  justify-content:center;
lifestyle:none;
  gap:30px;
  display:flex;
  align-item:center;
  padding:10px;
  
  }
nav a{
  color:white;
  font-weight:bold;
  text-decoration:none;
}
nav a:hover{
  text-decoration:underline;
}

.section{
  margin-top:60px;
}

.table{
  margine:18px auto;
  border:4px solid gray;
  border-collapse:collapse;
  width:50%;
}
.table th{
  background-color:orange;
  color:white;
  padding:10px;
}
.table th,
.table td{
  border:1px solid black;
  padding:10px
  
}
.table img{
  width:100px;
    height:100px;
    object-fit:cover;
  
}

#logo{
width:30%;
margin-buttom:10px;
}
